@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800";

@import "../lib/mortar/development/less/settings";
@import "../lib/mortar/development/less/mixins";
@import "../lib/mortar/development/less/base";
@import "../lib/mortar/development/less/grids";
@import "../lib/mortar/development/less/grids-units";
@import "../lib/mortar/development/less/grids-responsive";
@import "../lib/mortar/development/less/icons";
@import "../lib/mortar/development/less/icons-elusive";
@import "../lib/mortar/development/less/icons-font-awesome";
@import "../lib/mortar/development/less/icons-foundation";
@import "../lib/mortar/development/less/icons-ionicons";
@import "../lib/mortar/development/less/icons-meteocons";
@import "../lib/mortar/development/less/icons-metrize";
@import "../lib/mortar/development/less/icons-open-iconic";
@import "../lib/mortar/development/less/icons-typicons";
@import "../lib/mortar/development/less/forms";
@import "../lib/mortar/development/less/buttons";
@import "../lib/mortar/development/less/menus";
@import "../lib/mortar/development/less/tables";
@import "../lib/mortar/development/less/typography";


/* theme styles*/

body {
	font-family: @font-sans;
	margin: 0 0 50px 0;
    color: #777;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: rgb(75, 75, 75);
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.125em;
}

a {
    color: #3b8bba; /* block-background-text-normal */
    text-decoration: none;
}

a:visited {
    color: #265778; /* block-normal-text-normal */
}

.m-button {
	background-color: #0078e7;
	color: #fff;
}


/* custom styles */

[data-tooltip] {
	border: 1px solid #ccc;
	display: inline-block;
	width: 120px;
	height: 120px;
	position: relative;
	line-height: 120px;
	text-align: center;
	cursor: pointer;
}

@tooltip-arrow-width: 5px;
@tooltip-color: white;
@tooltip-bg: rgba(0, 0, 0, 0.5);

.tooltip {
	.tooltip-inner {
		color: @tooltip-color;
		background-color: @tooltip-bg;
	}

	// .createArrows(@tooltip-arrow-width, @tooltip-bg);
}