@import "../lib/mortar/development/less/mixins";

.createArrows(@tooltip-arrow-width: 5px, @tooltip-bg: black){

	&.top .m-tooltip-arrow {
		bottom: 0;
		left: 50%;
		margin-left: -@tooltip-arrow-width;
		border-width: @tooltip-arrow-width @tooltip-arrow-width 0;
		border-top-color: @tooltip-bg;
	}

	&.right .m-tooltip-arrow {
		top: 50%;
		left: 0;
		margin-top: -@tooltip-arrow-width;
		border-width: @tooltip-arrow-width @tooltip-arrow-width @tooltip-arrow-width 0;
		border-right-color: @tooltip-bg;
	}

	&.left .m-tooltip-arrow {
		top: 50%;
		right: 0;
		margin-top: -@tooltip-arrow-width;
		border-width: @tooltip-arrow-width 0 @tooltip-arrow-width @tooltip-arrow-width;
		border-left-color: @tooltip-bg;
	}

	&.bottom .m-tooltip-arrow {
		top: 0;
		left: 50%;
		margin-left: -@tooltip-arrow-width;
		border-width: 0 @tooltip-arrow-width @tooltip-arrow-width;
		border-bottom-color: @tooltip-bg;
	}

}


@tooltip-arrow-width: 5px;
@tooltip-color: white;
@tooltip-bg: rgba(0, 0, 0, 0.7);

.m-tooltip {
	position: absolute;
	z-index: 100;
	display: block;
	visibility: visible;
	font-size: 14px;
	line-height: 1.5;
	display: none;

	&.top    { margin-top:  -3px; padding: @tooltip-arrow-width 0; }
	&.right  { margin-left:  3px; padding: 0 @tooltip-arrow-width; }
	&.bottom { margin-top:   3px; padding: @tooltip-arrow-width 0; }
	&.left   { margin-left: -3px; padding: 0 @tooltip-arrow-width; }

	.m-tooltip-arrow {
		position: absolute;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
	}	

	.m-tooltip-inner {
		max-width: 300px;
		padding: 5px 15px;
		color: @tooltip-color;
		text-align: center;
		text-decoration: none;
		background-color: @tooltip-bg;
		border-radius: 5px;
	}

	.createArrows(@tooltip-arrow-width, @tooltip-bg);
}