.m-tooltip {
  position: absolute;
  z-index: 100;
  display: block;
  display: none;
  font-size: 14px;
  line-height: 1.5;
  visibility: visible;
}

.m-tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.m-tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.m-tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.m-tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.m-tooltip .m-tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.m-tooltip .m-tooltip-inner {
  max-width: 300px;
  padding: 5px 15px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
}

.m-tooltip.top .m-tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: rgba(0, 0, 0, 0.7);
  border-width: 5px 5px 0;
}

.m-tooltip.right .m-tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: rgba(0, 0, 0, 0.7);
  border-width: 5px 5px 5px 0;
}

.m-tooltip.left .m-tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: rgba(0, 0, 0, 0.7);
  border-width: 5px 0 5px 5px;
}

.m-tooltip.bottom .m-tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: rgba(0, 0, 0, 0.7);
  border-width: 0 5px 5px;
}